# 영화 일일 데이터 Open API 통해 불러오기

In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import matplotlib.pyplot as plt
import os
import statistics as st
from datetime import datetime, timedelta
import requests
import json

# 경고 메세지 삭제
import warnings
warnings.filterwarnings('ignore')

# 한글 깨짐 방지
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'

In [ ]:
#날짜를 문자열로 변환하는 함수
def date_string(date):
    date_list = str(date).split()[0].split('-')
    date_str = date_list[0]+date_list[1]+date_list[2]
    return date_str

yourkey='434b7ef51f7c068162c9ccef24f54b28' #((키 넣어주시면 됩니다!))

#원하는 날짜 +1 해주세요. 2018년 전체를 하고싶다면 (2019,1,1) ((날짜 수정해주시면 됩니다!))
date = datetime(2019,1,1)
date_str = date_string(date)
print(date_str)

# 2018년 1월1일까지만 할것이다 ((날짜 수정해주시면 됩니다!))
while date_str != '20100101':
    date = date - timedelta(days=1)
    date_str = date_string(date)
    # print(date_str)

    url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key='+yourkey+'&targetDt='+date_str
    res = requests.get(url)
    text= res.text

    d = json.loads(text)

    movie_list = []

    x=d['boxOfficeResult']['showRange'] #박스오피스 일자 추출

    for b in d['boxOfficeResult']['dailyBoxOfficeList']:
        movie_list.append([x, b['movieNm'],b['movieCd'],b['audiCnt'],b['audiInten'],b['audiChange'],b['audiAcc']
                           ,b['openDt'],b['salesAmt'],b['salesShare'],b['salesInten'],b['salesChange'],b['salesAcc'],b['scrnCnt'],b['showCnt'],b['rank'],b['rankInten'],b['rankOldAndNew']])
    # rnum은 순번을 출력하는 것이기 때문에 안넣었습니다

    # 파일 이름 변경하는 곳 ((파일이름 수정해주시면 됩니다!))
    data = pd.DataFrame(movie_list)
    data.to_csv("2018_movie.csv", mode='a', encoding='utf-8', index=False)

In [39]:
pd.read_csv('./2018_movie.csv')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,20181231~20181231,아쿠아맨,20180290,287694,-58943,-17.0,3491857,2018-12-19,2328025300,33.3,-789396550,-25.3,30454292381,1161,4590,1,0,OLD
1,20181231~20181231,PMC: 더 벙커,20170658,165126,-71088,-30.1,1179031,2018-12-26,1338545450,19.2,-788597550,-37.1,9704247367,957,4161,2,0,OLD
2,20181231~20181231,범블비,20186281,111007,-37743,-25.4,1167150,2018-12-25,878956550,12.6,-422428500,-32.5,9756083752,799,2921,3,0,OLD
3,20181231~20181231,보헤미안 랩소디,20185485,106448,-1658,-1.5,9224582,2018-10-31,858538800,12.3,-123890450,-12.6,80010440345,684,1760,4,0,OLD
4,20181231~20181231,스윙키즈,20175547,63660,-6030,-8.7,1258811,2018-12-19,491444550,7.0,-115141850,-19.0,10308565602,662,1601,5,0,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32895,20101201~20101201,초능력자,20101010,8604,-9814,-53.3,2059216,2010-11-10,56656000,4.4,-66662000,-54.1,14882857500,264,834,6,-2,OLD
32896,20101201~20101201,스위치,20101118,8021,8021,100.0,11241,2010-12-01,48504500,3.8,48504500,100.0,64264500,162,752,7,61,OLD
32897,20101201~20101201,라스트 엑소시즘,20101140,7077,7077,100.0,7077,2010-12-01,49875500,3.9,49875500,100.0,49875500,155,865,8,0,NEW
32898,20101201~20101201,소셜 네트워크,20101013,6394,-6334,-49.8,460640,2010-11-18,42850500,3.3,-44597500,-51.0,3391336000,161,377,9,-4,OLD
32899,20101201~20101201,더 콘서트,20101206,2599,-4993,-65.8,72314,2010-11-25,17903500,1.4,-34197000,-65.6,525369000,91,211,10,-4,OLD

In [40]:
#날짜를 문자열로 변환하는 함수
def date_string(date):
    date_list = str(date).split()[0].split('-')
    date_str = date_list[0]+date_list[1]+date_list[2]
    return date_str

yourkey='001a81c336fe1093a7b65899f0c4e9d4' #((키 넣어주시면 됩니다!))

#원하는 날짜 +1 해주세요. 2018년 전체를 하고싶다면 (2019,1,1) ((날짜 수정해주시면 됩니다!))
date = datetime(2012,1,1)
date_str = date_string(date)
print(date_str)

# 2018년 1월1일까지만 할것이다 ((날짜 수정해주시면 됩니다!))
while date_str != '20090101':
    date = date - timedelta(days=1)
    date_str = date_string(date)
    # print(date_str)

    url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key='+yourkey+'&targetDt='+date_str
    res = requests.get(url)
    text= res.text

    d = json.loads(text)

    movie_list = []

    x=d['boxOfficeResult']['showRange'] #박스오피스 일자 추출

    for b in d['boxOfficeResult']['dailyBoxOfficeList']:
        movie_list.append([x, b['movieNm'],b['movieCd'],b['audiCnt'],b['audiInten'],b['audiChange'],b['audiAcc']
                           ,b['openDt'],b['salesAmt'],b['salesShare'],b['salesInten'],b['salesChange'],b['salesAcc'],b['scrnCnt'],b['showCnt'],b['rank'],b['rankInten'],b['rankOldAndNew']])
    # rnum은 순번을 출력하는 것이기 때문에 안넣었습니다

    # 파일 이름 변경하는 곳 ((파일이름 수정해주시면 됩니다!))
    data = pd.DataFrame(movie_list)
    data.to_csv("2010_movie.csv", mode='a', encoding='utf-8', index=False)

20120101

In [44]:
df2 = pd.read_csv('./2010-11_movie.csv')
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,20111231~20111231,미션임파서블:고스트프로토콜,20112207,413380,172351,71.5,4975161,2011-12-15,3191759500,35.8,1319070000,70.4,37765048000,692,3338,1,0,OLD
1,20111231~20111231,셜록홈즈 : 그림자 게임,20112621,184287,68045,58.5,1289857,2011-12-21,1386351000,15.6,512682000,58.7,9502305000,363,1924,2,0,OLD
2,20111231~20111231,마이 웨이,20110295,169966,76038,81.0,1586042,2011-12-21,1294953000,14.5,583061500,81.9,11813839000,591,2491,3,0,OLD
3,20111231~20111231,퍼펙트 게임,20113260,95869,35249,58.1,811772,2011-12-21,719648500,8.1,267173000,59.0,5996408000,392,1421,4,0,OLD
4,20111231~20111231,프렌즈: 몬스터섬의비밀,20113271,70660,30454,75.7,147817,2011-12-29,525804500,5.9,233109500,79.6,1086283500,297,839,5,1,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8024,20100101~20100101,포켓 몬스터 DP: 아르세우스 초극의 시공으로,20090860,20772,7698,58.9,214790,2009-12-24,144107000,1.4,61325500,74.1,1424646000,61,253,6,0,OLD
8025,20100101~20100101,파르나서스 박사의 상상극장,20090089,17547,5641,47.4,411621,2009-12-23,132574000,1.3,48084000,56.9,2987361000,245,632,7,0,OLD
8026,20100101~20100101,러브 매니지먼트,20090859,2166,623,40.4,3895,2009-12-31,17261000,0.2,6099500,54.6,29910500,41,194,8,1,OLD
8027,20100101~20100101,2012,20090685,1983,1316,197.3,5392184,2009-11-12,14222000,0.1,9924500,230.9,38901105500,18,39,9,2,OLD
8028,20100101~20100101,위대한 침묵,20090840,1726,139,8.8,25982,2009-12-03,13771000,0.1,2511500,22.3,183151000,6,22,10,-2,OLD

In [42]:
#날짜를 문자열로 변환하는 함수
def date_string(date):
    date_list = str(date).split()[0].split('-')
    date_str = date_list[0]+date_list[1]+date_list[2]
    return date_str

yourkey='001a81c336fe1093a7b65899f0c4e9d4' #((키 넣어주시면 됩니다!))

#원하는 날짜 +1 해주세요. 2018년 전체를 하고싶다면 (2019,1,1) ((날짜 수정해주시면 됩니다!))
date = datetime(2010,1,1)
date_str = date_string(date)
print(date_str)

# 2018년 1월1일까지만 할것이다 ((날짜 수정해주시면 됩니다!))
while date_str != '20090101':
    date = date - timedelta(days=1)
    date_str = date_string(date)
    # print(date_str)

    url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key='+yourkey+'&targetDt='+date_str
    res = requests.get(url)
    text= res.text

    d = json.loads(text)

    movie_list = []

    x=d['boxOfficeResult']['showRange'] #박스오피스 일자 추출

    for b in d['boxOfficeResult']['dailyBoxOfficeList']:
        movie_list.append([x, b['movieNm'],b['movieCd'],b['audiCnt'],b['audiInten'],b['audiChange'],b['audiAcc']
                           ,b['openDt'],b['salesAmt'],b['salesShare'],b['salesInten'],b['salesChange'],b['salesAcc'],b['scrnCnt'],b['showCnt'],b['rank'],b['rankInten'],b['rankOldAndNew']])
    # rnum은 순번을 출력하는 것이기 때문에 안넣었습니다

    # 파일 이름 변경하는 곳 ((파일이름 수정해주시면 됩니다!))
    data = pd.DataFrame(movie_list)
    data.to_csv("2009_movie.csv", mode='a', encoding='utf-8', index=False)

20100101

In [43]:
df = pd.read_csv('./2009_movie.csv')
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,20091231~20091231,아바타,20090834,325054,113574,53.7,5150667,2009-12-17,2892482000,45.5,992464500,52.2,43441164500,669,3261,1,0,OLD
1,20091231~20091231,전우치,20090077,223364,67178,43.0,2453883,2009-12-23,1595375000,25.1,483458500,43.5,17747602000,543,2929,2,0,OLD
2,20091231~20091231,셜록 홈즈,20090856,104632,27166,35.1,1131441,2009-12-23,750348500,11.8,196186000,35.4,8242461500,346,1820,3,0,OLD
3,20091231~20091231,나인,20090891,73347,56255,329.1,93214,2009-12-31,534615500,8.4,406666000,317.8,682636000,329,1948,4,1,OLD
4,20091231~20091231,앨빈과 슈퍼밴드2,20090861,53367,26093,95.7,105763,2009-12-30,345165000,5.4,169153000,96.1,701678000,228,1011,5,-1,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4009,20090101~20090101,벼랑 위의 포뇨,20081686,71299,33105,86.7,1189145,2008-12-17,459699000,6.4,229575000,99.8,7516175500,299,1123,6,0,OLD
4010,20090101~20090101,예스맨,20081703,70198,19652,38.9,888802,2008-12-17,484117000,6.7,158550500,48.7,5878156500,223,894,7,-3,OLD
4011,20090101~20090101,트와일라잇,20081697,11677,1245,11.9,1304009,2008-12-10,78037000,1.1,13730000,21.4,8447959000,91,270,8,0,OLD
4012,20090101~20090101,트랜스포터-라스트 미션,20081809,11574,11574,100.0,11574,2009-01-08,46296000,0.6,46296000,100.0,46296000,16,58,9,0,NEW
4013,20090101~20090101,오스트레일리아,20081673,10360,4620,80.5,955427,2008-12-10,70338000,1.0,34164500,94.4,6187855000,92,165,10,-1,OLD

In [45]:
#날짜를 문자열로 변환하는 함수
def date_string(date):
    date_list = str(date).split()[0].split('-')
    date_str = date_list[0]+date_list[1]+date_list[2]
    return date_str

yourkey='001a81c336fe1093a7b65899f0c4e9d4' #((키 넣어주시면 됩니다!))

#원하는 날짜 +1 해주세요. 2018년 전체를 하고싶다면 (2019,1,1) ((날짜 수정해주시면 됩니다!))
date = datetime(2013,1,1)
date_str = date_string(date)
print(date_str)

# 2018년 1월1일까지만 할것이다 ((날짜 수정해주시면 됩니다!))
while date_str != '20120101':
    date = date - timedelta(days=1)
    date_str = date_string(date)
    # print(date_str)

    url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key='+yourkey+'&targetDt='+date_str
    res = requests.get(url)
    text= res.text

    d = json.loads(text)

    movie_list = []

    x=d['boxOfficeResult']['showRange'] #박스오피스 일자 추출

    for b in d['boxOfficeResult']['dailyBoxOfficeList']:
        movie_list.append([x, b['movieNm'],b['movieCd'],b['audiCnt'],b['audiInten'],b['audiChange'],b['audiAcc']
                           ,b['openDt'],b['salesAmt'],b['salesShare'],b['salesInten'],b['salesChange'],b['salesAcc'],b['scrnCnt'],b['showCnt'],b['rank'],b['rankInten'],b['rankOldAndNew']])
    # rnum은 순번을 출력하는 것이기 때문에 안넣었습니다

    # 파일 이름 변경하는 곳 ((파일이름 수정해주시면 됩니다!))
    data = pd.DataFrame(movie_list)
    data.to_csv("2012_movie.csv", mode='a', encoding='utf-8', index=False)

20130101

In [47]:
df3 = pd.read_csv('./2012_movie.csv')
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,20121231~20121231,타워,20124039,320003,-34201,-9.7,2014589,2012-12-25,2255715500,31.6,-363982500,-13.9,14658256500,616,3227,1,0,OLD
1,20121231~20121231,레미제라블,20128274,254263,-32240,-11.3,3210107,2012-12-19,1791446500,25.1,-347700500,-16.3,23428605500,623,2678,2,0,OLD
2,20121231~20121231,반창꼬,20124399,133645,-8855,-6.2,1730535,2012-12-19,938697500,13.2,-119319000,-11.3,12459852719,426,2024,3,0,OLD
3,20121231~20121231,호빗: 뜻밖의 여정,20125048,71940,-8948,-11.1,2605124,2012-12-13,589739500,8.3,-100620500,-14.6,21724069066,360,1189,4,0,OLD
4,20121231~20121231,가문의 영광5 - 가문의 귀환,20128687,50964,-10146,-16.6,1012223,2012-12-19,356822500,5.0,-92904500,-20.7,7245056500,321,1367,5,0,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4020,20120101~20120101,라이온 킹,19940256,45750,-11699,-20.4,171285,1994-07-02,507115500,6.6,-114593500,-18.4,1841625000,244,895,6,1,OLD
4021,20120101~20120101,오싹한 연애,20113381,45062,-15926,-26.1,2823060,2011-12-01,344871000,4.5,-107005500,-23.7,20634684500,243,839,7,-1,OLD
4022,20120101~20120101,극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」,20112709,24202,-7756,-24.3,285959,2011-12-22,167809500,2.2,-45900500,-21.5,1897120000,186,348,8,0,OLD
4023,20120101~20120101,앨빈과 슈퍼밴드3,20113311,19729,-6461,-24.7,516289,2011-12-15,137030000,1.8,-35408000,-20.5,3416675000,169,359,9,0,OLD
4024,20120101~20120101,극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」,20112708,17817,-6554,-26.9,235070,2011-12-22,125535500,1.6,-40756000,-24.5,1595695000,175,291,10,0,OLD

In [48]:
#날짜를 문자열로 변환하는 함수
def date_string(date):
    date_list = str(date).split()[0].split('-')
    date_str = date_list[0]+date_list[1]+date_list[2]
    return date_str

yourkey='001a81c336fe1093a7b65899f0c4e9d4' #((키 넣어주시면 됩니다!))

#원하는 날짜 +1 해주세요. 2018년 전체를 하고싶다면 (2019,1,1) ((날짜 수정해주시면 됩니다!))
date = datetime(2014,1,1)
date_str = date_string(date)
print(date_str)

# 2018년 1월1일까지만 할것이다 ((날짜 수정해주시면 됩니다!))
while date_str != '20130101':
    date = date - timedelta(days=1)
    date_str = date_string(date)
    # print(date_str)

    url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key='+yourkey+'&targetDt='+date_str
    res = requests.get(url)
    text= res.text

    d = json.loads(text)

    movie_list = []

    x=d['boxOfficeResult']['showRange'] #박스오피스 일자 추출

    for b in d['boxOfficeResult']['dailyBoxOfficeList']:
        movie_list.append([x, b['movieNm'],b['movieCd'],b['audiCnt'],b['audiInten'],b['audiChange'],b['audiAcc']
                           ,b['openDt'],b['salesAmt'],b['salesShare'],b['salesInten'],b['salesChange'],b['salesAcc'],b['scrnCnt'],b['showCnt'],b['rank'],b['rankInten'],b['rankOldAndNew']])
    # rnum은 순번을 출력하는 것이기 때문에 안넣었습니다

    # 파일 이름 변경하는 곳 ((파일이름 수정해주시면 됩니다!))
    data = pd.DataFrame(movie_list)
    data.to_csv("2013_movie.csv", mode='a', encoding='utf-8', index=False)

20140101

In [ ]:
#날짜를 문자열로 변환하는 함수
def date_string(date):
    date_list = str(date).split()[0].split('-')
    date_str = date_list[0]+date_list[1]+date_list[2]
    return date_str

yourkey='434b7ef51f7c068162c9ccef24f54b28' #((키 넣어주시면 됩니다!))

#원하는 날짜 +1 해주세요. 2018년 전체를 하고싶다면 (2019,1,1) ((날짜 수정해주시면 됩니다!))
date = datetime(2020,1,1)
date_str = date_string(date)
print(date_str)

# 2018년 1월1일까지만 할것이다 ((날짜 수정해주시면 됩니다!))
while date_str != '20190101':
    date = date - timedelta(days=1)
    date_str = date_string(date)
    # print(date_str)

    url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key='+yourkey+'&targetDt='+date_str
    res = requests.get(url)
    text= res.text

    d = json.loads(text)
    print(d)
    # movie_list = []

    # x=d['boxOfficeResult']['showRange'] #박스오피스 일자 추출

    # for b in d['boxOfficeResult']['dailyBoxOfficeList']:
    #     movie_list.append([x, b['movieNm'],b['movieCd'],b['audiCnt'],b['audiInten'],b['audiChange'],b['audiAcc']
    #                        ,b['openDt'],b['salesAmt'],b['salesShare'],b['salesInten'],b['salesChange'],b['salesAcc'],b['scrnCnt'],b['showCnt'],b['rank'],b['rankInten'],b['rankOldAndNew']])
    # # rnum은 순번을 출력하는 것이기 때문에 안넣었습니다

    # # 파일 이름 변경하는 곳 ((파일이름 수정해주시면 됩니다!))
    # data = pd.DataFrame(movie_list)
    # data.to_csv("2019_movie.csv", mode='a', encoding='utf-8', index=False)

In [122]:
df = pd.read_csv('./2009_movie.csv')
df1 = pd.read_csv('./2010-11_movie.csv')
df2 = pd.read_csv('./2012_movie.csv')
df3 = pd.read_csv('./2013_movie.csv')

In [123]:
df = df[~(df['0'] == '0')]
df['0'] = df['0'].str[:8].astype(int)
df['0'] = df['0'].sort_values(ascending=True)
df.sort_values('0', ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [124]:
def change(df):
    df = df[~(df['0'] == '0')]
    df['0'] = df['0'].str[:8].astype(int)
    df['0'] = df['0'].sort_values(ascending=True)
    df.sort_values('0', ascending=True, inplace=True)
    df.reset_index(drop=True, inplace=True)
    return df

In [125]:
df1 = change(df1)
df2 = change(df2)
df3 = change(df3)

In [126]:
a = pd.concat([df, df1], axis=0)
b = pd.concat([df2, df3], axis=0)

In [127]:
ab = pd.concat([a, b], axis=0)
ab

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,20090101,오스트레일리아,20081673,10360,4620,80.5,955427,2008-12-10,70338000,1.0,34164500,94.4,6187855000,92,165,10,-1,OLD
1,20090101,쌍화점,20081716,312889,59337,23.4,765449,2008-12-30,2196203500,30.4,541452500,32.7,5114204500,517,2709,1,0,OLD
2,20090101,과속스캔들,20081672,248492,89635,56.4,4610001,2008-12-03,1685018500,23.3,667249500,65.6,30191898000,367,2092,2,0,OLD
3,20090101,볼트,20081744,129991,67440,107.8,198058,2008-12-31,900528000,12.5,496384500,122.8,1342030500,310,1615,3,0,OLD
4,20090101,지구가 멈추는 날,20081723,86753,40574,87.9,1393821,2008-12-24,591894500,8.2,295203000,99.5,9174078000,313,1668,4,1,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3645,20131231,어바웃 타임,20135428,61241,-2303,-3.6,2856065,2013-12-05,431965000,5.6,-12287500,-2.8,20908973000,278,867,5,-2,OLD
3646,20131231,월터의 상상은 현실이 된다,20134046,93788,93646,65947.9,107278,2013-12-31,644020000,8.3,643026000,64690.7,743042000,378,1815,4,29,OLD
3647,20131231,엔더스 게임,20131246,125787,123387,5141.1,166533,2013-12-31,913825000,11.8,889825000,3707.6,1229288000,460,2267,3,9,OLD
3648,20131231,용의자,20124938,191687,34232,21.7,2176752,2013-12-24,1328458000,17.1,242285500,22.3,15629492500,582,2491,2,0,OLD
3649,20131231,변호인,20134803,465419,140760,43.4,5687047,2013-12-18,3240448000,41.7,999374500,44.6,40953398000,836,4297,1,0,OLD

In [134]:
df4 = pd.read_csv('./2018_movie.csv')

In [138]:
df4 = change(df4)

In [141]:
df4 = df4[df4['0'] >= 20140101].reset_index(drop=True)

In [183]:
movie_data = pd.concat([ab,df4], axis=0)

In [184]:
movie_data.reset_index(drop=True, inplace=True)

In [ ]:
movie_data

In [186]:
movie_data.columns = (['해당일',
'영화명',
'대표코드',
'해당일의 관객수',
'전일 대비 관객수 증감분',
'전일 대비 관객수 증감 비율',
'누적관객수',
'개봉일',
'당일 매출액',
'해당일자 매출총액 대비 해당 영화의 매출비율',
'전일 대비 매출액 증감분',
'전일 대비 매출액 증감 비율',
'누적매출액',
'스크린수',
'상영된 횟수',
'순위',
'전일대비 순위의 증감',
'신규진입여부'])

In [319]:
movie_data.to_csv('day_data.csv')

In [189]:
movie_data['해당일'] = pd.to_datetime(movie_data['해당일'], format=('%Y%m%d'))
movie_data['개봉일'] = movie_data['개봉일'].str.replace('-','')
movie_data['개봉일'] = movie_data['개봉일'].str.replace(' ','')
movie_data = movie_data.sort_values('개봉일',axis=0).reset_index(drop=True)
movie_data = movie_data.iloc[44:,:].reset_index(drop=True)
movie_data.sort_values('해당일',axis=0,inplace=True)
movie_data.reset_index(drop=True,inplace=True)
movie_data['개봉일'] = movie_data['개봉일'].astype(int)
movie_data['개봉일'] = pd.to_datetime(movie_data['개봉일'], format='%Y%m%d')

In [311]:
# movie_data[['해당일','영화명','해당일의 관객수']].to_csv('개봉일관객수.csv')

In [328]:
movie_data = movie_data.iloc[:-10,:]

In [329]:
df5 = pd.read_csv('./2019_movie.csv')
df5

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,20191231~20191231,백두산,20192206,316194,84540,36.5,6290502,2019-12-19,2530099970,35.4,692060570,37.7,52905789770,1281,6056,1,0,OLD
1,20191231~20191231,천문: 하늘에 묻는다,20184571,149804,36229,31.9,965624,2019-12-26,1175634620,16.5,267754060,29.5,7808242950,965,3739,2,0,OLD
2,20191231~20191231,시동,20198414,136268,37823,38.4,2525986,2019-12-18,1102216700,15.4,305970300,38.4,21236477800,843,3169,3,0,OLD
3,20191231~20191231,미드웨이,20196272,131880,131880,100.0,133373,2019-12-31,1071629520,15.0,1071629520,100.0,1085659520,777,2587,4,0,NEW
4,20191231~20191231,겨울왕국 2,20197803,55462,7058,14.6,13369064,2019-11-21,439575000,6.2,58382020,15.3,111596248720,621,1349,5,-1,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4009,20190101~20190101,스윙키즈,20175547,66173,2513,3.9,1324984,2018-12-19,580947700,5.6,89503150,18.2,10889513302,577,1309,6,-1,OLD
4010,20190101~20190101,점박이 한반도의 공룡2 : 새로운 낙원,20183785,60574,18888,45.3,435886,2018-12-25,490861100,4.8,193316450,65.0,3432402500,581,1083,7,-1,OLD
4011,20190101~20190101,그린치,20182421,32824,6574,25.0,517888,2018-12-19,264288100,2.6,78854150,42.5,3939730050,449,672,8,-1,OLD
4012,20190101~20190101,극장판 짱구는 못말려: 아뵤! 쿵후 보이즈 ~라면 대란~,20183479,29372,11919,68.3,306578,2018-12-19,233903600,2.3,109925100,88.7,2382611650,336,500,9,0,OLD
4013,20190101~20190101,마약왕,20168773,19248,-6521,-25.3,1832842,2018-12-19,173524150,1.7,-35881950,-17.1,15958248702,426,705,10,-2,OLD

In [330]:
df5 = change(df5)

In [331]:
df5

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,20190101,마약왕,20168773,19248,-6521,-25.3,1832842,2018-12-19,173524150,1.7,-35881950,-17.1,15958248702,426,705,10,-2,OLD
1,20190101,아쿠아맨,20180290,384106,96412,33.5,3875963,2018-12-19,3482411050,33.8,1154385750,49.6,33936703431,1158,4594,1,0,OLD
2,20190101,PMC: 더 벙커,20170658,195859,30733,18.6,1374890,2018-12-26,1763943100,17.1,425397650,31.8,11468190467,893,3530,2,0,OLD
3,20190101,보헤미안 랩소디,20185485,135879,29431,27.6,9360461,2018-10-31,1236738450,12.0,378199650,44.1,81247178795,732,1872,3,1,OLD
4,20190101,범블비,20186281,132618,21611,19.5,1299768,2018-12-25,1143504700,11.1,264548150,30.1,10899588452,766,2519,4,-1,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3645,20191231,겨울왕국 2,20197803,55462,7058,14.6,13369064,2019-11-21,439575000,6.2,58382020,15.3,111596248720,621,1349,5,-1,OLD
3646,20191231,미드웨이,20196272,131880,131880,100.0,133373,2019-12-31,1071629520,15.0,1071629520,100.0,1085659520,777,2587,4,0,NEW
3647,20191231,시동,20198414,136268,37823,38.4,2525986,2019-12-18,1102216700,15.4,305970300,38.4,21236477800,843,3169,3,0,OLD
3648,20191231,천문: 하늘에 묻는다,20184571,149804,36229,31.9,965624,2019-12-26,1175634620,16.5,267754060,29.5,7808242950,965,3739,2,0,OLD
3649,20191231,백두산,20192206,316194,84540,36.5,6290502,2019-12-19,2530099970,35.4,692060570,37.7,52905789770,1281,6056,1,0,OLD

In [332]:
df5.columns = (['해당일',
'영화명',
'대표코드',
'해당일의 관객수',
'전일 대비 관객수 증감분',
'전일 대비 관객수 증감 비율',
'누적관객수',
'개봉일',
'당일 매출액',
'해당일자 매출총액 대비 해당 영화의 매출비율',
'전일 대비 매출액 증감분',
'전일 대비 매출액 증감 비율',
'누적매출액',
'스크린수',
'상영된 횟수',
'순위',
'전일대비 순위의 증감',
'신규진입여부'])

In [333]:
df5

,해당일,영화명,대표코드,해당일의 관객수,전일 대비 관객수 증감분,전일 대비 관객수 증감 비율,누적관객수,개봉일,당일 매출액,해당일자 매출총액 대비 해당 영화의 매출비율,전일 대비 매출액 증감분,전일 대비 매출액 증감 비율,누적매출액,스크린수,상영된 횟수,순위,전일대비 순위의 증감,신규진입여부
0,20190101,마약왕,20168773,19248,-6521,-25.3,1832842,2018-12-19,173524150,1.7,-35881950,-17.1,15958248702,426,705,10,-2,OLD
1,20190101,아쿠아맨,20180290,384106,96412,33.5,3875963,2018-12-19,3482411050,33.8,1154385750,49.6,33936703431,1158,4594,1,0,OLD
2,20190101,PMC: 더 벙커,20170658,195859,30733,18.6,1374890,2018-12-26,1763943100,17.1,425397650,31.8,11468190467,893,3530,2,0,OLD
3,20190101,보헤미안 랩소디,20185485,135879,29431,27.6,9360461,2018-10-31,1236738450,12.0,378199650,44.1,81247178795,732,1872,3,1,OLD
4,20190101,범블비,20186281,132618,21611,19.5,1299768,2018-12-25,1143504700,11.1,264548150,30.1,10899588452,766,2519,4,-1,OLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3645,20191231,겨울왕국 2,20197803,55462,7058,14.6,13369064,2019-11-21,439575000,6.2,58382020,15.3,111596248720,621,1349,5,-1,OLD
3646,20191231,미드웨이,20196272,131880,131880,100.0,133373,2019-12-31,1071629520,15.0,1071629520,100.0,1085659520,777,2587,4,0,NEW
3647,20191231,시동,20198414,136268,37823,38.4,2525986,2019-12-18,1102216700,15.4,305970300,38.4,21236477800,843,3169,3,0,OLD
3648,20191231,천문: 하늘에 묻는다,20184571,149804,36229,31.9,965624,2019-12-26,1175634620,16.5,267754060,29.5,7808242950,965,3739,2,0,OLD
3649,20191231,백두산,20192206,316194,84540,36.5,6290502,2019-12-19,2530099970,35.4,692060570,37.7,52905789770,1281,6056,1,0,OLD

In [336]:
df5['해당일'] = pd.to_datetime(df5['해당일'], format=('%Y%m%d'))
df5['개봉일'] = df5['개봉일'].str.replace('-','')
df5['개봉일'] = df5['개봉일'].str.replace(' ','')
df5 = df5.sort_values('개봉일',axis=0).reset_index(drop=True)
df5 = df5.iloc[44:,:].reset_index(drop=True)
df5.sort_values('해당일',axis=0,inplace=True)
df5.reset_index(drop=True,inplace=True)
df5['개봉일'] = df5['개봉일'].astype(int)
df5['개봉일'] = pd.to_datetime(df5['개봉일'], format='%Y%m%d')

In [337]:
df5

,해당일,영화명,대표코드,해당일의 관객수,전일 대비 관객수 증감분,전일 대비 관객수 증감 비율,누적관객수,개봉일,당일 매출액,해당일자 매출총액 대비 해당 영화의 매출비율,전일 대비 매출액 증감분,전일 대비 매출액 증감 비율,누적매출액,스크린수,상영된 횟수,순위,전일대비 순위의 증감,신규진입여부
0,2019-01-01,보헤미안 랩소디,20185485,135879,29431,27.6,9360461,2018-10-31,1236738450,12.0,378199650,44.1,81247178795,732,1872,3,1,OLD
1,2019-01-01,스윙키즈,20175547,66173,2513,3.9,1324984,2018-12-19,580947700,5.6,89503150,18.2,10889513302,577,1309,6,-1,OLD
2,2019-01-01,아쿠아맨,20180290,384106,96412,33.5,3875963,2018-12-19,3482411050,33.8,1154385750,49.6,33936703431,1158,4594,1,0,OLD
3,2019-01-01,그린치,20182421,32824,6574,25.0,517888,2018-12-19,264288100,2.6,78854150,42.5,3939730050,449,672,8,-1,OLD
4,2019-01-01,언니,20184187,66686,66686,100.0,67929,2019-01-01,612798450,5.9,612798450,100.0,623953450,509,1679,5,0,NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3601,2019-12-31,신비아파트 극장판 하늘도깨비 대 요르문간드,20198374,26473,1453,5.8,672122,2019-12-19,193986540,2.7,10118640,5.5,5299942440,471,713,6,-1,OLD
3602,2019-12-31,시동,20198414,136268,37823,38.4,2525986,2019-12-18,1102216700,15.4,305970300,38.4,21236477800,843,3169,3,0,OLD
3603,2019-12-31,눈의 여왕4,20199981,13399,2003,17.6,143853,2019-12-24,78897060,1.1,2541060,3.3,1044574960,304,347,9,0,OLD
3604,2019-12-31,겨울왕국 2,20197803,55462,7058,14.6,13369064,2019-11-21,439575000,6.2,58382020,15.3,111596248720,621,1349,5,-1,OLD
3605,2019-12-31,미드웨이,20196272,131880,131880,100.0,133373,2019-12-31,1071629520,15.0,1071629520,100.0,1085659520,777,2587,4,0,NEW

In [339]:
df = pd.concat([movie_data,df5], axis=0)

In [342]:
df.to_csv('day_data.csv', encoding='utf-8')

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./day_data2.csv', index_col=0)

C:\Users\Hong\AppData\Local\Temp\ipykernel_13392\3295107085.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('./day_data2.csv', index_col=0)

,해당일,영화명,대표코드,해당일의 관객수,전일 대비 관객수 증감분,전일 대비 관객수 증감 비율,누적관객수,개봉일,당일 매출액,해당일자 매출총액 대비 해당 영화의 매출비율,전일 대비 매출액 증감분,전일 대비 매출액 증감 비율,누적매출액,스크린수,상영된 횟수,순위,전일대비 순위의 증감,신규진입여부,개봉일2,해당일2
0,2019-06-08,0.0MHz,20188144,2807,628,28.8,131430,2019-05-29,22009300,0.2,4654900,26.8,1041791260,67,104,10,0,OLD,20190529,20190608
1,2019-06-09,0.0MHz,20188144,2092,-715,-25.5,133522,2019-05-29,16505800,0.2,-5503500,-25.0,1058297060,60,98,10,0,OLD,20190529,20190609
2,2019-06-07,0.0MHz,20188144,2179,-820,-27.3,128623,2019-05-29,17354400,0.2,-5278500,-23.3,1019781960,72,107,10,1,OLD,20190529,20190607
3,2019-06-05,0.0MHz,20188144,2390,-4697,-66.3,123445,2019-05-29,18412330,0.3,-39587170,-68.3,979794660,110,153,9,-4,OLD,20190529,20190605
4,2019-06-03,0.0MHz,20188144,6887,-14905,-68.4,113968,2019-05-29,56953560,1.3,-130675030,-69.6,903382830,367,619,5,0,OLD,20190529,20190603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40446,2019-09-16,"힘을 내요, 미스터 리",20187322,36338,-115116,-76.0,922184,2019-09-11,285234550,9.7,-1011452700,-78.0,7949908076,878,3504,3,0,OLD,20190911,20190916
40448,2019-09-22,"힘을 내요, 미스터 리",20187322,43858,-2776,-6.0,1119490,2019-09-11,373982300,7.3,-16096830,-4.1,9500236616,597,1741,5,0,OLD,20190911,20190922
40449,2019-09-15,"힘을 내요, 미스터 리",20187322,151454,-89381,-37.1,885846,2019-09-11,1296687250,13.3,-788184568,-37.8,7664673526,946,3763,3,0,OLD,20190911,20190915
40450,2019-09-17,"힘을 내요, 미스터 리",20187322,45119,8781,24.2,967303,2019-09-11,307029080,14.0,21794530,7.6,8256937156,943,3410,3,0,OLD,20190911,20190917
40451,2019-09-13,"힘을 내요, 미스터 리",20187322,251764,94393,60.0,493557,2019-09-11,2238064688,17.8,864338248,62.9,4283114458,947,3973,3,0,OLD,20190911,20190913