## 영화진흥위원회 OPENAPI로 배우데이터 불러오기

In [48]:
# openapi 함수
import requests
import json

def get_movieInfo(movieCd):
    url = 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=001a81c336fe1093a7b65899f0c4e9d4&movieCd='+str(movieCd)
    res = requests.get(url)
    text = res.text
    #print(text)
    
    d = json.loads(text)

    movieInfo = d['movieInfoResult']['movieInfo']

    return movieInfo

In [49]:
# import
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

In [50]:
total = pd.read_csv('./datasets/배우감독파생변수용.csv')

In [46]:
## 대표코드 리스트
list = total['대표코드'].tolist()

In [ ]:
# 전체 데이터 914개의 영화 별 배우데이터 불러오는 함수
b = []
for i in list:
    movieInfo = get_movieInfo(i)
    a = movieInfo["actors"]
    a_1 = pd.DataFrame(a)
    b.append(a_1)

In [ ]:
# kk = []
# for i in range(815, len(b)):
#     print(i)
#     bb = b[i]['peopleNm']
#     kk.append(bb)

In [24]:
# 배우 데이터가 없는 컬럼 확인 후 빈 컬럼값 생성
b[408] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
b[604] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
b[637] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
b[682] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
b[714] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
b[715] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
b[766] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
b[814] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
b[896] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])

In [20]:
# b[232] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[321] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[415] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[610] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[642] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[687] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[719] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[720] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[751] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[773] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[822] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])
# b[902] = pd.DataFrame(columns = ['peopleNm','peopleNmEn', 'cast', 'castEn'])

In [604]:
# kk = []
# for i in range(0, len(b)):
#     print(i)
#     bb = b[i]['peopleNm']
#     kk.append(bb)

In [25]:
# 배우데이터중 배우한글데이터 + 상위 10개 배우만 추출하겠다.
kkk =[]
for i in range(0, len(b)):
    array_1 = np.array(b[i]['peopleNm'].iloc[:10])
    kkk.append(array_1)

In [26]:
# 데이터프레임에 저장
data = pd.DataFrame(kkk)

In [34]:
actor_top3 = data.iloc[:,:3]

In [36]:
actor_top3.to_csv('./datasets/배우.csv')

In [14]:
actor_top3 = df

In [4]:
df = pd.read_csv('./datasets/배우.csv', index_col=0)
df

               0        1        2
0            최민식      류승룡      조진웅
1            류승룡      이하늬      진선규
2            하정우      차태현      주지훈
3            황정민      김윤진      오달수
4    로버트 다우니 주니어  크리스 에반스   마크 러팔로
..           ...      ...      ...
912        톰 행크스  마크 라이런스  오스틴 스토웰
913          마동석      조한선      김민경
914     데이비드 코에너      NaN      NaN
915        잭 오코넬   도널 글리슨  가렛 헤드룬드
916     조셉 고든 레빗    벤 킹슬리   샬롯 르 본

[917 rows x 3 columns]

In [7]:
# 0~2 컬럼 value_counts 값
a = df['0'].value_counts()
b = df['1'].value_counts()
c = df['2'].value_counts()

In [8]:
# 데이터프레임화
a = pd.DataFrame(a)
b = pd.DataFrame(b)
c = pd.DataFrame(c)

In [9]:
# a,b concat
ab = pd.concat([a,b], axis=1)

In [10]:
# ab,c concat
abc = pd.concat([ab,c], axis=1)

In [11]:
# 영화별 배우 출현 횟수 총 합
aaa = abc.T.sum().sort_values(ascending=False)

In [12]:
# 데이터프레임화
aaa = pd.DataFrame(aaa)
aaa

                0
마동석          16.0
하정우          16.0
황정민          15.0
조진웅          15.0
류승룡          14.0
...           ...
소피아 블랙 디엘리아   1.0
브렌튼 스웨이츠      1.0
장쯔이           1.0
세바스찬 냅        1.0
샬롯 르 본        1.0

[1247 rows x 1 columns]

In [15]:
for i in range(1247):
    for j in range(917):
        if actor_top3['0'].values[j] == aaa.index[i]:
           actor_top3['0'].values[j] = int(aaa.values[i])

for i in range(1247):
    for j in range(917):
        if actor_top3['1'].values[j] == aaa.index[i]:
           actor_top3['1'].values[j] = int(aaa.values[i])
        
for i in range(1247):
    for j in range(917):
        if actor_top3['2'].values[j] == aaa.index[i]:
           actor_top3['2'].values[j] = int(aaa.values[i])

In [16]:
actor_top3

      0    1    2
0    10   14   15
1    14    5    2
2    16    5    6
3    15    4   10
4     9    6    7
..   ..  ...  ...
912   6    3    1
913  16    2    1
914   1  NaN  NaN
915   1    4    2
916   2    3    1

[917 rows x 3 columns]

In [17]:
배우가중치 = pd.DataFrame(actor_top3.T.sum())

In [18]:
배우가중치.columns = ['배우가중치']

In [19]:
배우가중치

    배우가중치
0      39
1      21
2      27
3      29
4      22
..    ...
912    10
913    19
914     1
915     7
916     6

[917 rows x 1 columns]

In [20]:
total = pd.read_csv('./datasets/배우감독파생변수용.csv')

In [26]:
ls = []

for i in range(917):
    if total['전국 관객수'][i] >= 10000000:
        ls.append(1)
    elif (total['전국 관객수'][i] < 10000000) and (total['전국 관객수'][i] >= 5000000):
        ls.append(10)
    elif (total['전국 관객수'][i] < 5000000) and (total['전국 관객수'][i] >= 1000000):
        ls.append(20)
    else:
        ls.append(30)

In [29]:
가중치값 = pd.DataFrame(ls)
가중치값.columns = ['가중치값']

In [34]:
배우data = pd.concat([배우가중치, 가중치값], axis=1)

In [37]:
배우가중치['배우가중치'] = 배우data['배우가중치'] / 배우data['가중치값']

In [38]:
배우가중치

        배우가중치
0        39.0
1        21.0
2        27.0
3        29.0
4        22.0
..        ...
912  0.333333
913  0.633333
914  0.033333
915  0.233333
916       0.2

[917 rows x 1 columns]

In [39]:
배우가중치.to_csv('./datasets/배우가중치.csv')